<head>
    <style>
        .roles h1 {
            margin-left: 5%; 
            padding-bottom: 5px; 
        }

        .roles h2 {
            line-height: 0.25; margin-left: 10%; 
        }

        .location {
            color: #3385FF; margin-left: 10%;
        }

        .roles p {
            margin-left: 10%;
        }

        .roles ul {
            margin-left: 10%; color: #2F4050;
        }

        .graydivider {
            width: 50%; height: 1px; margin: 10px auto 20px; border-bottom: 1px solid  rgb(140, 146, 155);
        }
    </style>
</head>

<div class="container" id="i18_roles">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="roles.my_roles">Open Roles</span></h1>
        </div>
    </div>
    <div class="row features-block">
        <div class="roles">
            <h1>PUBLISHING ANALYTICS</h1>
            <h2>
                <a href="https://careers.wbgames.com/search-jobs/?n=166427BR">
                    Sr. Publishing Analyst
                </a>
            </h2>
            <div class="location">
                    United States - San Francisco, California
            </div>
            <p> 
                The Senior Publishing Analyst will work with business intelligence, analytics and publishing professionals to determine the best approaches 
                and systems for supporting state-of-the-art analytics; they must have an affinity for data and analytics that support key business decisions. 
                The Senior Publishing Analyst will work closely with the Mobile games team, User Acquisitions, Central Product Managers, and other groups to 
                evaluate how our customers are coming to and playing our games and inform improvements we can make to drive sustained engagement and monetization. 
                Specifically, they will be extremely detail oriented, with a strong product orientation and an affinity for data and analytics in support of driving 
                both product-level and business decisions. The successful candidate thrives at delivering solutions to complex data problems preferably in gaming, 
                and has proven themselves effective at navigating and overcoming both internal and external challenges.<a href="https://careers.wbgames.com/search-jobs/?n=166427BR">Apply.</a>
            </p>
            <div class="graydivider"></div>
            <h2>
                <a href="https://careers.wbgames.com/search-jobs/?n=168579BR">
                    Marketing Analytics Graduate Student Intern - Summer 2019
                </a>
            </h2>
            <div class="location">
                United States - Burbank, California
            </div>
            <p> 
                WB Games is looking for a highly motivated MBA or graduate student intern in the Consumer Insights and Marketing Analytics team who will be 
                responsible for developing and tracking all key business metrics (awareness, purchase intent, sales, retention) and facilitate consistent 
                measurement and data reporting processes across multiple campaigns. They will analyze, collect, and interpret results from an array of data 
                sources to drive businnes decisions; report on digital media campaign KPIs to benchmark paid media efforts; report on player patterns and advise
                changes to messaging using in-game BI telemetry; coordinate statistical analysis and modeling and ensure the integration of those tools into the 
                marketing programs; and as required, perform hands-on analysis in support of results analysis. <a href="https://careers.wbgames.com/search-jobs/?n=168579BR">Apply.</a>
            </p>
            <div class="graydivider"></div>
            <h2>
                <a href="https://careers.wbgames.com/search-jobs/?n=168444BR">
                    Marketing Analyst (Temp)
                </a>
            </h2>
            <div class="location">
                United States - San Francisco, California
            </div>
            <p> 
                WB Games San Francisco is seeking a Marketing Analyst (Temp) to help develop advertising, explore ideas, and help to drive conversion optimization 
                for some of the biggest IPs. They will develop advertising for some of the biggest IP's; explore and validate new test ideas; and drive the conversation
                around conversion optimization. 
                <br><br>
                (Relocation assistance will not be provided for this role.) <a href="https://careers.wbgames.com/search-jobs/?n=168444BR">Apply.</a>
            </p>
            <div class="graydivider"></div>
            <h2>
                <a href="https://careers.wbgames.com/search-jobs/?n=168492BR">
                    Senior Analyst, CRM Operations (Temporary)
                </a>
            </h2>
            <div class="location">
                United States - Needham, Massachusetts
            </div>
            <p> 
                WB Games is recruiting a Senior CRM Analyst to help drive cross-functional publishing efforts on behalf of our mobile games in the Lifecycle group, 
                part of the Mobile Publishing team. The role’s focus and primary responsibilities revolve around CRM campaign management as well as building analysis, 
                data integrations and related capabilities that enable the iterative improvement of tailored CRM campaigns to player cohorts across our game portfolio. 
                The ideal candidate is a master of all things data, with a keen interest in leveraging analysis and data integration to enable the most cutting-edge 
                email marketing and related direct-digital capabilities to date. <a href="https://careers.wbgames.com/search-jobs/?n=168492BR">Apply.</a>
            </p>
            <div class="graydivider"></div>
            <h2>
                <a href="https://careers.wbgames.com/search-jobs/?n=167602BR">
                    Analyst, Sales Planning - WB Interactive Entertainment
                </a>
            </h2>
            <div class="location">
                United States - Burbank, California
            </div>
            <p> 
                Warner Bros. Interactive Entertainment seeks an Analyst, Sales Planning for the Selling department. They will be a part of dedicated supply chain support 
                for partner titles (Cyberpunk, Rocket League, Fortnite); work as part of Digital Sales Support to provide supporting analyses for digital sales team with 
                key insights and recommendations to support sales and marketing; ensure alignment amongst operations, order management, marketing, and sales regarding 
                timing and forecasts for new releases; manage the Salesforce forecasting system; and provide ad-hoc reporting. <a href="https://careers.wbgames.com/search-jobs/?n=167602BR">Apply.</a>
            </p>

            <div style="height: 30px;"></div>

            <h1>ANALYTICS PLATFORM</h1>
            <h2>
                <a href="/">
                    Senior Analytics QA Engineer - Warner Bros
                </a>
            </h2>
            <div class="location">
                United States - Boston, Massachusetts
            </div>
            <p> 
                The Warner Bros. Analytics (WBA) team based in Boston MA in the United States are looking to fill a Senior Analytics QA Engineer position which will 
                be based at Playdemic in Wilmslow, UK. The WBA team provides data analytic services to support game teams and analysts across the WB Games organisation 
                and is co-located at the WB Boston studio.
                <br><br>
                As players perform actions in-game, the analytics platform collects telemetry in real-time. The data collected is then used to provide insights for 
                guiding game development, marketing, and monetisation. Some of our featured games include, Batman: Arkham Knight, Mortal Kombat X, Golf Clash, the LEGO 
                Universe of titles from Tt Games and Game of Thrones: Conquest.
                <br><br>
                We deploy to the Amazon Cloud and a person in this role will develop a deep understanding of the concepts involved with managing resources in AWS. Apache 
                Spark and Kafka are used in the data processing pipeline.
                <br><br>
                <b>What part will you play?</b>
            </p>
                <ul>
                    <li>Build tools and lead efforts around functional, integration and load testing.</li>
                    <li>Contribute to automated deployment of the platform.</li>
                    <li>Provide Jenkins job development and administration.</li>
                    <li>Monitor and report incidents using DataDog and PagerDuty.</li>
                    <li>Tracking quality level metrics and report to the team.</li>
                    <li>Communication to customers of platform status.</li>
                </ul>
            <p>
                <b>What do we require from you?</b>
            </p> 
                <ul>
                    <li>Good written and verbal communication skills.</li>
                    <li>Demonstrable experience or understanding of test automation.</li>
                    <li>Experience building test automation frameworks.</li>
                    <li>Experience with SQL and scripting.</li>
                    <li>Experience with any Jenkins or other CI/CD.</li>
                    <li>Experience with any combination of Python, Java, Scala.</li>
                </ul>
            <p>
                To apply please email a covering letter and CV to Vicky MacMillan, Senior Recruitment & Resourcing Specialist at jobs@t-tales.com
            </p>

            <div style="height: 30px;"></div>

            <h1>GAME ANALYTICS</h1>
            <h2>
                <a href="http://rocksteadyltd.com/#jobs/lead-data-analyst/">
                    Lead Data Analyst
                </a>
            </h2>
            <div class="location">
                England - London
            </div>
            <p> 
                Rocksteady Studios is looking to add to its family of permanent staff with an exceptionally talented Lead Data Analyst who is ready for the challenge of 
                striving to produce a world-class AAA title.
                <br><br>
                We are looking for someone who is an expert in building models and analysing large sets of data to create visualisations then communicating these efficiently 
                to our development team such that they make more insightful decisions that improve the overall quality of our game on a day-by-day basis. 
                <a href="http://rocksteadyltd.com/#jobs/lead-data-analyst/">Apply.</a>
            </p>
            <div class="graydivider"></div>
            <h2>
                <a href="http://rocksteadyltd.com/#jobs/senior-user-researcher/">
                    Senior User Researcher
                </a>
            </h2>
            <div class="location">
                    England - London
            </div>
            <p> 
                Rocksteady Studios is looking to add to its family of permanent staff. We are looking for an exceptionally talented Senior User Researcher who is ready 
                for the challenge of producing a world-class, AAA title.
                <br><br>
                The goal of the User Researcher is to support and enable the developers’ vision by empowering them with actionable insights about our players. At 
                Rocksteady you will apply your passion for understanding and evaluating the player experience in order to assist the design and production teams you are 
                embedded in to make data-informed decisions and ultimately make the greatest possible games.
                <a href="http://rocksteadyltd.com/#jobs/senior-user-researcher/">Apply.</a>
            </p>
            <div class="graydivider"></div>
            <h2>
                <a href="http://www.netherrealm.com/careers/126/game-data-analyst-monetization/">
                    Game Data Analyst, Monetization
                </a>
            </h2>
            <div class="location">
                    United States - Chicago, Illinois
            </div>
            <p> 
                NetherRealm Studios, a division of WB Games, is a top video game developer for both console and mobile. We have a growing portfolio of hits that includes 
                Mortal Kombat and Injustice. As we continue to expand, we are looking to add an enthusiastic, talented, and experienced professional with a passion for 
                understanding users’ behavior through data.
                <br><br>
                NetherRealm Studios seeks a Data & Monetization Analyst to join our team. In collaboration with our existing Analytics Department, the Analyst will work 
                closely with the development teams for the full lifecycles of our products. 
                <br><br>
                This position requires excellent project management, communication, and documentation skills. The ideal candidate will demonstrate passion for discovering 
                interesting facts through data and sharing them with others. Daily tasks include gathering requirements from project stakeholders, drafting schemas and tables, 
                working with the ETL and reporting process, and developing documentation. 
                <br><br>
                The Data and Monetization Analyst must be comfortable working with large sets of data related to acquisition, engagement, and monetization. The Analyst will 
                coordinate with external BI engineering and QA teams to ensure the data pipeline can meet our needs and work with internal design, development, and product 
                management to translate the results of data analysis into compelling designs that compliment and further elevate fun game experiences. Analytic reports are in 
                high demand by multiple entities. This position will collaborate on everything from planning the way we record events in-game, monitoring the ETL process, and 
                ensuring the final report satisfies the intended audience.
                <br><br>
                The Analyst will need strong communication skills and an ability to be a contributor working with a wide variety of internal departments. They will be comfortable 
                with all levels of ownership, from hands on design to providing high-level guidance and feedback. Detail-oriented and organized, the ideal candidate will thrive in 
                a fast-paced and evolving environment that offers the opportunity to work hands-on with world-class brands, and contribute concretely to the success of our games.
                <a href="http://www.netherrealm.com/careers/126/game-data-analyst-monetization/">Apply.</a>
            </p>

            <div style="height: 30px;"></div>

            <h1>DON'T SEE SOMETHING THAT FITS?</h1>
            <p>We have new positions opening all the time. <a href="/linkgoeshere">Apply here!</a></p>

            <!-- Template for adding jobs -->
            <!-- <h1>DOMAIN</h1>
            <h2>
                <a href="/linkgoeshere">
                    Fancy Job 1
                </a>
            </h2>
            <div class="location">
                Subtitle: Location
            </div>
            <p> 
                Job description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac turpis est. Aenean in nunc massa. 
                Donec ultricies mi vel arcu viverra pharetra eget id urna. Curabitur sit amet nulla vel orci vestibulum dapibus. 
                Nulla eu vestibulum neque. Proin et nisl congue, eleifend ante sed, mattis nulla. In hac habitasse platea dictumst. 
                Integer pellentesque ipsum in rhoncus varius. Phasellus pharetra laoreet justo, in efficitur magna interdum non. <a href="/linkgoeshere">Apply.</a>
            </p> -->

            <!-- Divider between jobs -->
            <!-- <div class="graydivider"></div> -->

            <!-- Divider between domains -->
            <!-- <div style="height: 30px;"></div> -->



            <div class="navy-line"></div>
            <div style="height: 60px;"></div>
        </div>
    </div>
</div>
