<head>
    <style>
        .roles h1 {
            margin-left: 5%; 
        }

        .roles h2 {
            line-height: 0.25; margin-left: 10%; 
        }

        .location {
            color: #3385FF; margin-left: 10%;
        }

        .roles p {
            margin-left: 10%;
        }

        .graydivider {
            width: 50%; height: 1px; margin: 5px auto 5px; border-bottom: 1px solid  rgb(140, 146, 155);
        }
    </style>
</head>

<div class="container" id="i18_roles">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="roles.my_roles">Open Roles</span></h1>
        </div>
    </div>
    <div class="row features-block">
        <div class="roles">
            <h1>DOMAIN 1</h1>
            <h2>Fancy Job 1</h2>
            <div class="location">
                Subtitle: Location
            </div>
            <p> Job description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac turpis est. Aenean in nunc massa. 
                Donec ultricies mi vel arcu viverra pharetra eget id urna. Curabitur sit amet nulla vel orci vestibulum dapibus. 
                Nulla eu vestibulum neque. 
            </p>
            <div class="graydivider"></div>
            <h2>Fancy Job 2</h2>
            <div class="location">
                Subtitle: Location
            </div>
            <p> Job description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac turpis est. Aenean in nunc massa. 
                Donec ultricies mi vel arcu viverra pharetra eget id urna. Curabitur sit amet nulla vel orci vestibulum dapibus. 
                Nulla eu vestibulum neque. Proin et nisl congue, eleifend ante sed, mattis nulla. In hac habitasse platea dictumst. 
                Integer pellentesque ipsum in rhoncus varius. Phasellus pharetra laoreet justo, in efficitur magna interdum non. 
            </p>
            <div class="graydivider"></div>
            <h1>DOMAIN 2</h1>
            <h2>Fancy Job 1</h2>
            <div class="location">
                Subtitle: Location
            </div>
            <p> Job description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac turpis est. Aenean in nunc massa. 
                Donec ultricies mi vel arcu viverra pharetra eget id urna. Curabitur sit amet nulla vel orci vestibulum dapibus. 
                Nulla eu vestibulum neque. Proin et nisl congue, eleifend ante sed, mattis nulla. In hac habitasse platea dictumst. 
                Integer pellentesque ipsum in rhoncus varius. Phasellus pharetra laoreet justo, in efficitur magna interdum non. 
            </p>
            <div class="graydivider"></div>
            <h2>Fancy Job 2</h2>
            <div class="location">
                Subtitle: Location
            </div>
            <p> Job description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac turpis est. Aenean in nunc massa. 
                Donec ultricies mi vel arcu viverra pharetra eget id urna.  
            </p>

            <div class="navy-line"></div>
        </div>
    </div>
</div>
